/INTERVIEW_GUIDE.md
/INTERVIEW_GUIDE_better.md
/README_better.md

/explained.md
/working.md
/thats-mine.md
/Code-explain.md

/.vscode
/kafka_2.13-4.2.1.tgz
/kafka

/logs
/jmeter.log

/.github

/config-server/target

/microservices/auth/target
/microservices/payments/target
/microservices/inventory/target